# Ignore node modules
backend/node_modules/

# Maven/Gradle build outputs
backend/target/

# IDE
*.iml
.idea/
.vscode/
.docker-compose.yaml

# Docker env
.env

# Logs
*.log

# OS
.DS_Store

# Build
frontend/dist/

# Backup
/backup/
/backup/host_backup.sh
*.sql
.sh

# Docker
docker-compose.yaml
etc-dnsmasq.d/02-local.conf

# Certificates
/certs/
192.168.229.1+3-key.pem
192.168.229.1+3.pem