# Ignore node modules
backend/node_modules/

# Maven/Gradle build outputs
backend/target/

# IDE
*.iml
.idea/
.vscode/
.docker-compose.yaml

# Docker env
.env

# Logs
*.log

# OS
.DS_Store

# Build
frontend/dist/

# Backup
/backup/
/backup/host_backup.sh
*.sql
.sh

# Docker
docker-compose.yaml
dnsmasq.conf