.login-wrapper {
  display: flex;
  gap: 1rem;
  margin-top: 80px;
  font-family: "Iansui", cursive;
  color: white;
}

.login-left {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
}

.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 0.5rem;
}

mat-card{
  width: 500px;
  text-align: center;
  background-color: rgba(1, 28, 77);
  border-radius: 12px;
  border-color: black;
  box-shadow: 0px 4px 24px rgba(22, 22, 22, 0.815);
  padding: 1.5rem;
}

mat-form-field{
  display: block;
  font-size: clamp(0.9rem, 1.2vw, 1.1rem);
}

mat-card-header{
  height: 45px;
  margin-bottom: 30px;
  font-size: clamp(1rem, 2vw, 1.4rem);
}

.boxPasswordCheck {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: -10px;
  margin-bottom: 15px;
}

.textPass {
  color: white;
  font-family: "Iansui", cursive;
}

mat-checkbox ::ng-deep .mdc-checkbox__background {
  border-color: white;
}
