<div class="login-wrapper">
  <div class="login-left">
      <mat-card>
          <mat-card-header>
              <h2>Login Admin</h2>
          </mat-card-header>
          <mat-card-content>
              <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                  <mat-form-field>
                      <mat-label>Name</mat-label>
                      <input
                        matInput
                        name="name"
                        [(ngModel)]="user.name"
                        required>
                      <mat-icon matSuffix>person</mat-icon>
                  </mat-form-field>
                  <mat-form-field>
                      <mat-label>Password</mat-label>
                      <input
                        matInput
                        name="password"
                        [type]="showPassword ? 'text' : 'password'"
                        [(ngModel)]="user.password"
                        required>
                      <mat-icon matSuffix>lock</mat-icon>
                  </mat-form-field>
                  <div class="boxPasswordCheck">
                    <mat-checkbox name="showPassword" [(ngModel)]="showPassword">
                      <p class="textPass">Show Password</p>
                    </mat-checkbox>
                  </div>

                  @if (!loginValid) {
                    <mat-error class="error-message">
                      Invalid name or password. Please try again.
                    </mat-error>
                  }
                  <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.form.valid">Login</button>
              </form>
          </mat-card-content>
      </mat-card>
  </div>
</div>
