.login-wrapper {
  display: block;
  font-family: "Iansui", cursive;
  color: white;
}

.login-left {
  display: flex;
  justify-content: center;
}

mat-form-field{
  display: block;
  font-size: clamp(0.9rem, 1.2vw, 1.1rem);
}

.section {
  width: 100%;
  max-width: 520px;
  text-align: center;
}

.section-header {
  margin-bottom: 30px;
  font-size: clamp(1rem, 2vw, 1.4rem);
}

.boxPasswordCheck {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: -10px;
  margin-bottom: 15px;
}

.textPass {
  color: white;
  font-family: "Iansui", cursive;
}

mat-checkbox ::ng-deep .mdc-checkbox__background {
  border-color: white;
}
