<div class="request-form">
  <mat-card>
    <mat-card-header>
      <h2>Requesitor Form</h2>
    </mat-card-header>

    <mat-card-content class="scrollable-content">
      <form #requisitorForm="ngForm">
        <!-- Current Owner -->
        <mat-form-field>
          <mat-label>Name of Requesitor</mat-label>
          <input
            matInput
            name="requesitor"
            placeholder="Name of Requesitor"
            required
          />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <!-- Description -->
        <mat-form-field>
          <mat-label>Description of Property/Equipment</mat-label>
          <input
            matInput
            name="description"
            placeholder="Description of Property/Equipment"
            required
          />
          <mat-icon matSuffix>laptop</mat-icon>
        </mat-form-field>

        <!-- Number of Properties -->
        <mat-form-field>
          <mat-label>No. of Properties Requested</mat-label>
          <input
            matInput
            type="number"
            name="numberProperty"
            required
          />
          <mat-icon matSuffix>list_alt</mat-icon>
        </mat-form-field>

        <!-- Destination -->
        <mat-form-field>
          <mat-label>Destination</mat-label>
          <input
            matInput
            name="destination"
            placeholder="Destination"
            required
          />
          <mat-icon matSuffix>location_on</mat-icon>
        </mat-form-field>

        <!-- Dates requested -->
        <mat-form-field>
          <mat-label>Period Covered</mat-label>
          <input
            matInput
            name="period"
            placeholder="Period Covered"
          />
          <mat-icon matSuffix>calendar_today</mat-icon>
        </mat-form-field>

        <!-- Buttons -->
        <div class="button-group">
          <button mat-raised-button color="primary" type="submit"> Save </button>
          <button mat-stroked-button color="accent" type="reset" class="clear"> Clear </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
