.request-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  gap: 1rem;
  min-height: 100vh;
  font-family: "Iansui", cursive;
  color: white;
}

mat-card {
  width: 900px;
  text-align: center;
  background-color: rgba(1, 28, 77);
  border-radius: 12px;
  border-color: black;
  box-shadow: 1px 4px 24px rgba(22, 22, 22, 0.815);
  padding: 1.5rem;
}

mat-form-field {
  display: block;
  font-size: clamp(0.9rem, 1.2vw, 1.1rem);
  flex: 1;
}

mat-card-header {
  height: 45px;
  margin-bottom: 30px;
  font-size: clamp(1rem, 2vw, 1.4rem);
}

.button-group {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.equipment-row {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 12px;
}

.iconColor {
  color: grey;
  margin-left: 8.2px;
}

/* Hide number input spinners */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.equipment-row button[color="warn"] {
  min-width: 45px;      /* adjust width */
  height: 45px;         /* adjust height */
  margin-bottom: 20px;
  padding: 0;
  border-radius: 30%;   /* makes it round; remove if you want rectangle */
}

.success-message {
  background: lightgreen;
  color: #0b3d0b;
  padding: 12px 18px;
  margin-top: 15px;
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
  animation: fadein 2s ease-out;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 7; }
}
